@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
  background-color: rgb(238, 238, 238);
  position: relative;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 60%;
  position: absolute;
  left: 20%;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.814);
  box-shadow: 4px 4px 6px rgba(112, 112, 112, 0.423), -4px 4px 6px rgba(112, 112, 112, 0.423);
}

.listElement,
.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(181, 180, 180, 0.811);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#todolist {
  list-style-type: none;
  height: auto;
}

h1 {
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 18px;
}

.icons {
  margin: 0;
  padding: 0 10px 0 0;
  color: grey;
}

#addForm {
  padding: 0 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addForm span {
  color: gray;
  font-size: 20px;
  font-weight: 600;
}

#addForm input {
  height: 100%;
  width: 100%;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.814);
  padding: 0;
  margin-left: 5px;
  font-size: 15px;
  font-style: italic;
}

#addForm input:focus {
  outline: none;
}

.task {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid rgba(181, 180, 180, 0.811);
}

.labelChecked {
  text-decoration: line-through;
}

.checkbox {
  margin-right: 10px;
}

.editForm {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.description {
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.fa-trash-can {
  cursor: pointer;
}

button {
  width: 100%;
  height: 50px;
  background-color: rgb(238, 238, 238);
  border-style: none;
  color: rgb(102, 101, 101);
  font-weight: 300;
  font-size: 16px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.hamburger {
  cursor: move;
}
